# 构建 VitePress 站点并将其部署到 GitHub Pages 
name: Deploy VitePress site to Pages

env:
  DEPLOY_PLATFORM: 'github'

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v3
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .vitepress/dist

  # mirror:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4

  #     - name: Configure Git
  #       run: |
  #         git config --global user.name "Aliuyanfeng"
  #         git config --global user.email "1773189480@qq.com"
         

  #     - name: Push to GitLab
  #       run: |
  #         git remote add gitlab https://${{ secrets.GITLAB_USERNAME }}:${{ secrets.GITLAB_TOKEN }}@gitlab.com/Aliuyanfeng/li6daliy.git
  #         git push -f gitlab main


    #"@teek/components": "workspace:*",
    #"@teek/config": "workspace:*",
    #"@teek/helper": "workspace:*",
    #"@teek/composables": "workspace:*",
    #"@teek/locale": "workspace:*",
    #"@teek/markdown": "workspace:*",
    #"@teek/static": "workspace:*",
    #"@teek/theme-chalk": "workspace:*"